+<h1>Articles</h1>

<%= form_for :search, :url => search_articles_url, :html => { :method => :get } do  %>

    <%= text_field_tag :query %>
    <%= submit_tag "search" %>

<% end %>

+<%= render :partial => "article", :collection => @articles %>

