
<h2><%= link_to ingredient.inci_name, ingredient %></h2>
<div class="position">
  <p>
    <%= label :position, "Position" %>
    <%= Quantity.find_by_ingredient_id(ingredient.id).position      %>


  </p>

</div>