<% provide(:title, 'Edit Ingredient') %>
<div class="container">
  <div class="text-center">
	 <h1>Edit Ingredient</h1>
  </div>
</div>

<%= render 'formnew' %>

<%= link_to 'Back', ingredients_path %>