<% provide(:title, 'About') %>
<h1>About</h1>

<div class="content">
<p>This is a web application for the mini project of the web engineering
course. Have fun playing around with it!</p>
</div>

<div class="atom">


</div>
