<% provide(:title, 'Contact') %>
<div class="container">
  <div class="text-center">
	 <h1>Contact</h1>
  </div>
</div>

<div class="content">
<p>This web application was created by:</p>
<p>baeriswr</p>
<p>ChrisG55</p>
</div>

<div class="atom">


</div>
