<% provide(:title, 'Help') %>
<div class="container">
  <div class="text-center">
	 <h1>Help</h1>
  </div>
</div>

<div class="content">
<p>As a non-registered user you are not supposed to use the web application, since
it is supposed to deliver non-free content.</p>
<p>As a registered user you can search for a given amount of articles or
ingredients. In the search results section you can improve your search further
and get more details about the articles, ingredients and manufactures.</p>
<p>As an Administrator / Moderator, you can add, edit or remove articles and
ingredients from the database and delete existing Moderators. Their job is to
guarantee the accuracy of the web application content.</p>
<p>There is also an Atom feed available which will allow users to consistently
check for newly added articles and ingredients.</p>
</div>

<div class="atom">


</div>
