<div id="footer">

    <p>Project by baeriswr and ChrisG55</p>
    <nav><ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sitemap", "/sitemap.xml" %></li>
    </ul></nav>





</div>

