<div id="footer">

    <p>Project by baeriswr and ChrisG55</p>
    <nav><ul>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <li><%= link_to "Help", "#" %></li>
      <li><%= link_to "Sitemap", "#" %></li>
    </ul></nav>





</div>

