<div class="navbar navbar-default navbar-static-bottom">
  <div class="container">
    <p class="navbar-text">Project by baeriswr and ChrisG55</p>
    <div class="collapse navbar-collapse navFooterCollapse">
	 <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sitemap", "/sitemap.xml" %></li>
    </ul>
	 </div>
  </div>
</div>

